<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>Baby Wonderland Analyzer</title>
  </head>
  <body>
    <div class="container">
      <h2>Baby Wonderland Analyzer</h2>
      <hr class="w-100">
      <h5 style="text-align:right">Fetched: <%=date %> (UTC)</h5>

      <!-- adjacents -->
      <div class="row">
        <h3>Adjacents</h3>
        <table class="table">
          <thead>
            <tr>
              <!-- myland -->
              <th>TokenId</th>
              <th>Location</th>
              <th>Size</th>
              <th>Type</th>
              <th>Adjacents</th>
              <!-- adjacents -->
              <th>Location</th>
              <th>Size</th>
              <th>Type</th>
              <th>Owner</th>
              <th>Market</th>
            </tr>
          </thead>
          <tbody>
          <% for (const land of lands) { %>
            <tr>
              <!-- myland -->
              <td><%=land.tokenId %></td>
              <td class="font-monospace">
                <a rel="noreferrer" href="<%=getLocationUrl(land.x, land.y) %>">
                  <%=formatLocation(land.x, land.y) %>
                </a>
              </td>
              <td><%=formatSize(land.regionWeight) %></td>
              <td><%=formatType(land.level) %></td>
              <td style="text-align:right"><%=land.adjacents.length %></td>
              <!-- adjacents -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <% for (const adjacent of land.adjacents) { %>
              <tr>
                <!-- myland -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- adjacents -->
                <td class="font-monospace">
                  <a rel="noreferrer" href="<%=getLocationUrl(adjacent.x, adjacent.y) %>">
                    <%=formatLocation(adjacent.x, adjacent.y) %>
                  </a>
                </td>
                <td><%=formatSize(adjacent.regionWeight) %></td>
                <td><%=formatType(adjacent.level) %></td>
                <td class="font-monospace">
                <% if (land.userAddress == adjacent.userAddress) { %>
                  Owned
                <% } else { %>
                  [<a rel="noreferrer" href="<%=getDIDUrl(adjacent.userAddress) %>">DID</a>]
                  <a href="/address/<%=adjacent.userAddress %>">
                    <%=adjacent.userAddress %>
                  </a>
                <% } %>
                </td>
                <td>
                <% if (adjacent.onMarket==1) { %>
                  <a rel="noreferrer" href="<%=getMarketUrl(adjacent.tokenId) %>"><%=adjacent.tokenId %></a>
                <% } %>
              </td>
            </tr>
            <% } %>
          <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
